# macOS
.DS_Store

# Editors
.vscode/
.idea/
*~
*.swp

# Alire
alire/
alire.lock

# Build output
build/

# Ada
*.o
*.ali
*.adt
*.cgpr
*.cswi
*.stdout
*.stderr

# Libraries / executables
*.a
*.so
*.dll
*.dylib
*.exe
